.App {
  text-align: center;
  padding-top: 60px;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 12px auto;
  /* padding: 6px 6px 24px 6px;
  background-color: lightblue;
  border: 1px solid rgb(124, 196, 219);
  width: 420px;
  border-radius: 12px; */
  
}

input {
  padding: 12px;
  font-size: 18px;
}

button {
  margin-top: 12px;
}

img {
  border-radius: 6px;
}